<section class="game-table">
 
  <h1 class="game-title">
      Blackjack
  </h1>
  
  <section class="player"
           ng-repeat="player in table.players"
           bj-player="{{ player.name }}">
  </section>
  
  <section class="game-controls">
    <button class="hit-button pure-button"
            ng-click="table.hit()"
            ng-disabled="!table.gameStarted">
      Hit
    </button>
    
    <button class="stick-button pure-button"
            ng-click="table.stick()"
            ng-disabled="!table.gameStarted">
      Stick
    </button>
    
    <button class="start-button pure-button pure-button-primary"
            ng-click="table.start()">
      Start
    </button>
  </section>
  
  <section class="game-result">
    {{ table.result }}
  </section>
</section>